@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

pre code {
    display: block;
    font-family: monospace;
    @apply !bg-slate-800 rounded-md shadow p-2 my-4
}

div.code {
    white-space: pre;
}

h1, h2, h3, h4, h5, h6 {
    @apply text-gray-900 dark:text-white
}
.prose h1 {
    @apply text-5xl font-extrabold mb-5
}
.prose h2 {
    @apply text-4xl font-bold mb-5
}
.prose h3 {
    @apply text-3xl font-bold mb-5
}
.prose h4 {
    @apply text-2xl font-bold mb-5
}
.prose h5 {
    @apply text-xl font-bold mb-5
}
.prose h6 {
    @apply text-lg font-bold mb-5
}
.prose p {
    @apply mb-3 font-light text-gray-500 dark:text-gray-400
}

